#head-er .accessibility-login a.nature-link {
	font:bold 110% Garamond, serif;
	line-height:80%;
	width:5em;
}

#global-subject-areas h2,
#global-subject-areas h3,
#global-subject-areas h4,
#global-subject-areas h5 {font-size:80%;}

div.ab-ad,
#global-subject-areas h3.view,
#global-subject-areas h4.view,
#global-subject-areas h5.view,
#global-subject-areas ul,
#head-er .accessibility-login .jumplinks,
#head-er div.logon,
#head-er .user-services,
#head-er .publications,
#head-er .search form a,
#head-er .publications-search label,
#head-er input,
#head-er select, #foot-er {font-size:70%;}

/* naturejobs/products includes */
#natpav.box h2.natpav, .nature-feed.box h2.natjob, #natprod.box h2.natprod {font-size:90%;}
.nature-feed.box ul.natjob li h3, .nature-feed.box div.natjobmore, #natprod.box div.natprodmore input {font-size:80%;}
ul.natjob ul {font-size:70%;}

/* jotw/eotm */
.eotm-jotw .main-heading {font-size:90%;}
.eotm-jotw .main-heading .timeframe,
.eotm-jotw .title,
.eotm-jotw .events-jobs p,
.eotm-jotw .more .link,
.eotm-jotw .site {font-size:80%;}
.eotm-jotw .more {line-height:82%;}

/* global message */
.global-message h1 {font-size:100%;}
div.global-message.minimised h1 {font-size:80%;}
.global-message .content p {font-size:80%;}
.message-control a {font-size:80%;}
div.global-message.visible .message-control {width:17em;}
div.global-message.minimised .message-control {width:13em;}

/* discuss on sermo "link" */
input.sermo-submit {font-size:80%;}
