/* site css for Molecular Psychiatry website */
/* site colour:  #B72026 */
/* article page references list style:  decimal */

/* ========================================== */
/* = Coloured icons for user-services links = */
/* ========================================== */
#hdr .user-services .li1 a {background-image: url(/common/includes/header/images/icons/01/icon_account_red_med.gif);}
#hdr .user-services .li2 a {background-image: url(/common/includes/header/images/icons/01/icon_submit_red_med.gif);}
#hdr .user-services .li3 a {background-image: url(/common/includes/header/images/icons/01/icon_register_red_med.gif);}
#hdr .user-services .li4 a {background-image: url(/common/includes/header/images/icons/01/icon_subscribe_red_med.gif);}

#hdr .user-services .us-link a:link, #hdr .user-services .us-link a:visited {
	color:#9E3637 /* sets the link color for the header nav */
}
#hdr .user-services .us-link a:hover {color:#CC0033}

map.journal-nav ul li a:hover, map.journal-nav ul li a.on, map.journal-nav ul li a.on:visited, map.journal-nav ul li ul.subnav li.on, map.journal-nav ul li ul.subnav a:hover, h2.society-resources, ul.society-resources a:hover, .nav-header, h1.page, #article #content h3, #articlenav h2, #toc #extranav div.change-issue h2, #toc #content h3, #about #content h2, #info #content h2, #info #content th.prices-head-first, #info #content th.prices-head, #aop #content h3, #topten #content h2, #archive #content h2, #article-related #journal-header, #article-related a.back-to-article:hover, #subscribe-now #content h2, #subscribe-now #content input.button 
{background-color: #B72026;}

#toc #content h4.area, #aop #content h4.area {color: #B72026;}

#article #content #References ol {
	list-style-type: decimal;
	/* alternate values: 
	none
	decimal (1, 2, 3, etc.)
	decimal-leading-zero (01, 02, 03, etc.)
	lower-alpha (a, b, c, d, e, etc.)
	upper-alpha (a, B, C, D, E, etc.)
	lower-roman (i, ii, iii, iv, v, etc.)
	upper-roman (I, II, III, IV, V, etc.)
	lower-greek (alpha, beta, gamma, etc.)*/
}


/* leftnav highlighting */
.home .jn-home,
.aop .jn-aop,
.about-aop .jn-aop .subnav .jn-about-aop,
.issue .jn-issue,
.archive .jn-archive,
#archive .jn-archive,
.press-releases .jn-press-releases,
.for-authors .jn-for-authors,
.for-referees .jn-for-referees,
.contact-eds .jn-contact-eds,
.about-the-journal .jn-about-the-journal,
.about-the-society .jn-about-the-society,
.subscribe .jn-subscribe,
.advertising .jn-advertising,
.contact-npg .jn-contact-npg,
.site-features .jn-site-features
{background-color: #B72026;}

.home .jn-home a:link,
.home .jn-home a:visited,
.aop .jn-aop a:link,
.aop .jn-aop a:visited,
.about-aop .jn-aop .subnav .jn-about-aop a:link,
.about-aop .jn-aop .subnav .jn-about-aop a:visited,
.issue .jn-issue a:link,
.issue .jn-issue a:visited,
.archive .jn-archive a:link, 
.archive .jn-archive a:visited,
#archive .jn-archive a:link, 
#archive .jn-archive a:visited,
.press-releases .jn-press-releases a:link,
.press-releases .jn-press-releases a:visited,
.for-authors .jn-for-authors a:link,
.for-authors .jn-for-authors a:visited,
.for-referees .jn-for-referees a:link,
.for-referees .jn-for-referees a:visited,
.contact-eds .jn-contact-eds a:link,
.contact-eds .jn-contact-eds a:visited,
.about-the-journal .jn-about-the-journal a:link,
.about-the-journal .jn-about-the-journal a:visited,
.about-the-society .jn-about-the-society a:link,
.about-the-society .jn-about-the-society a:visited,
.subscribe .jn-subscribe a:link,
.subscribe .jn-subscribe a:visited,
.advertising .jn-advertising a:link,
.advertising .jn-advertising a:visited,
.contact-npg .jn-contact-npg a:link,
.contact-npg .jn-contact-npg a:visited,
.site-features .jn-site-features a:link,
.site-features .jn-site-features a:visited
{color: #fff;}

.aop .jn-aop .subnav a {color: #000;}

/* subnav background image */
/* this is required as the background-color above overrides the background: url in the main.css */
.about-aop .jn-aop .subnav .jn-about-aop a:link,
.about-aop .jn-aop .subnav .jn-about-aop a:visited
{background: url(/common/images/nav_dots1.gif) 11px 5px no-repeat;}

/* end subnav background image */
/* end leftnav highlighting */


/*                      -------------------------                    */
/*                      add new styles below here                    */
/*                      -------------------------                    */



/* the following styles should remain in this stylesheet */
/* issue TOCs have some optional headings, aOP TOCs have fixed, unvarying headings */
#toc #content h4.subject, #aop #content h4.subject {
	font-weight: bold;
	font-size: 70%;
	color: #B72026;
	text-transform: uppercase;
	margin: 1em 0 -1em 0;
}



/* for access pages */
body#access .toolsmenu .title {
	background: #b72026;
}

