/* global message */
#hdr {border-bottom-width:5px;}
div.global-message.minimised .content {display:none}

.global-message {
	border: 1px solid #aeaeae;
	background: #fbf9d3 url(/common/images/survey/main_bg.gif) no-repeat right bottom;
	margin:0 0 5px 0;
	position:relative;
	min-height: 23px;
}

div.global-message.minimised {
	background-image: url(/common/images/survey/minimised_bg.gif);
	background-position:right center;
}

div.global-message.minimised .wrapper {background: url(/common/images/survey/tinyantibody2.jpg) no-repeat 5px 1px;}

.global-message a {color:#ce0808;}

.global-message .content {
	padding:10px 5px 20px 130px;
	background: url(/common/images/survey/antibody4.jpg) no-repeat 5px -20px;
}


.global-message.no-cookies .content {
	padding:0 5px 0 10px;
	background: transparent;
}

.global-message h1 {
/*	font-size:100%;*/
	margin-top:0;
}

div.global-message.minimised h1 {
	position:absolute;
	top:3px;
	left:50px;
	font-size:90%;
	line-height: 20px;
	font-size:80%;
	margin:0;
	background: url(/common/images/survey/arrow_triple.gif) no-repeat 0 5px;
	padding-left: 17px;
}

div.global-message h1 a {
	text-decoration: none;
}


.global-message .content p {
/*	font-size:80%;*/
	line-height:1.3em;/* overrides site/group specific declarations */
}

.global-message .content a:hover p {
	color: #0f3f6f;
}

.global-message p.action {
	background: url(/common/images/survey/button_large.gif) no-repeat left top;
	padding: 10px 0 9px 42px;
	width: 180px;
	height: 39px;
	margin: 0 auto;
}

.global-message p.action a {
	font-weight:bold;
	border-bottom: 0;
	font-size: 130%;
	text-decoration: none;
}

/* if no images */

div.global-message.no-image .wrapper { background: none; }

div.global-message.no-image .content {
	padding:10px 5px 20px 10px;
	background: none;
}

div.global-message.minimised.no-image h1 {
	left: 5px;
	font-size: 70%;
}

/* message control */
.message-control {
	border-top: 1px solid #aeaeae;
	border-left: 1px solid #aeaeae;
	margin:0;
}

.message-control a {
	font-weight:bold;
	font-size:80%;
	background: #fff url(/common/images/survey/arrow_triple.gif) no-repeat 8px 50%;
	padding: 3px 5px 4px 25px;
	display:block;
	text-decoration: none;
}

div.global-message.visible .message-control {
	position:absolute;
	bottom:0;
	right:0;
	width:17em;
}

div.global-message.minimised .message-control {
	float:right;
	border-top: 0;
	width:auto;
}

div.global-message a.remove {
	position: absolute;
	top: 0;
	right: 0;
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #AEAEAE;
    display: block;
    float: right;
    margin: 0 0 0 10px;
    padding: 3px 5px 0;
}
.global-message .message-control .persistent {
	font-size: 80%;
	line-height: 16px;
}
/* end message control */

/* remove survey banner when text can no longer appear correctly */
@media screen and (max-width : 580px) {
	div.global-message {
		display: none;
	}
}

/* end global message */

#subheader .inner .global-message .message-control a.persistent {
	padding-right: 35px;
}
#subheader .inner .visible .message-control a.persistent {
	font-size: 100%;
}
#subheader .inner div.minimised,
#subheader .inner div.visible h1.minimised {
	font-size: 120%;
}

#subheader .inner div.visible {
	font-size: 100%;
}

#subheader div.global-message.minimised.no-image h1 {
	font-size: 80%;
}