/* site css for Kidney International website */
/* site colour:  #008Da8 */
/* article page references list style:  decimal */

/* ========================================== */
/* = Coloured icons for user-services links = */
/* ========================================== */
#hdr .user-services .li1 a {background-image: url(/common/includes/header/images/icons/01/icon_account_grey.gif);}
#hdr .user-services .li2 a {background-image: url(/common/includes/header/images/icons/01/icon_submit_grey.gif);}
#hdr .user-services .li3 a {background-image: url(/common/includes/header/images/icons/01/icon_register_grey.gif);}
#hdr .user-services .li4 a {background-image: url(/common/includes/header/images/icons/01/icon_subscribe_grey.gif);}

#hdr .user-services .us-link a:link, #hdr .user-services .us-link a:visited {
	color:#016275 /* sets the link color for the header nav */
}
#hdr .user-services .us-link a:hover {color:#CC0033}

map.journal-nav ul li a:hover, map.journal-nav ul li a.on, map.journal-nav ul li a.on:visited, map.journal-nav ul li ul.subnav li.on, map.journal-nav ul li ul.subnav a:hover, h2.society-resources, ul.society-resources a:hover,.nav-header, h1.page, #article #content h3, #articlenav h2, #toc #extranav div.change-issue h2, #toc #content h3, #about #content h2, #info #content h2, #info #content th.prices-head-first, #info #content th.prices-head, #aop #content h3, #topten #content h2, #archive #content h2, #article-related #journal-header, #article-related a.back-to-article:hover, #subscribe-now #content h2, #subscribe-now #content input.button, #content H2.focus-title 
{background-color: #008Da8;}

#toc #content h4.area, #aop #content h4.area {color: #008Da8;}

#article #content #References ol {
	list-style-type: decimal;
	/* alternate values:  
	none (nothing)
	decimal (1, 2, 3, etc.)
	decimal-leading-zero (01, 02, 03, etc.)
	lower-alpha (a, b, c, d, e, etc.)
	upper-alpha (a, B, C, D, E, etc.)
	lower-roman (i, ii, iii, iv, v, etc.)
	upper-roman (I, II, III, IV, V, etc.)
	lower-greek (alpha, beta, gamma, etc.)*/
}


/* leftnav highlighting */
.home .jn-home,
.aop .jn-aop,
.about-aop .jn-aop .subnav .jn-about-aop,
.issue .jn-issue,
.archive .jn-archive,
.abc .jn-archive .subnav .jn-abc,
.transneph .jn-archive .subnav .jn-transneph,
.categories .jn-categories a:link,
.categories .jn-categories a:visited,
#categories .jn-categories a:link,
#categories .jn-categories a:visited,
.podcasts .jn-podcasts,
/*.podarchive .jn-podarchive .subnav .jn-podarchive,
.podhelp .jn-podhelp .subnav .jn-podhelp,*/
.focus .jn-focus,
.press-releases .jn-press-releases,
.for-authors .jn-for-authors,
.for-referees .jn-for-referees,
.contact-eds .jn-contact-eds,
.about-the-journal .jn-about-the-journal,
.about-the-society .jn-about-the-society,
.subscribe .jn-subscribe,
.advertising .jn-advertising,
.supplements .jn-supplements,
.contact-npg .jn-contact-npg,
.site-features .jn-site-features
{background-color: #008Da8;}

.home .jn-home a:link,
.home .jn-home a:visited,
.aop .jn-aop a:link,
.aop .jn-aop a:visited,
.about-aop .jn-aop .subnav .jn-about-aop a:link,
.about-aop .jn-aop .subnav .jn-about-aop a:visited,
.issue .jn-issue a:link,
.issue .jn-issue a:visited,
.archive .jn-archive a:link, 
.archive .jn-archive a:visited,
.abc .jn-archive .subnav .jn-abc a:link,
.abc .jn-archive .subnav .jn-abc a:visited,
.transneph .jn-archive .subnav .jn-transneph a:link,
.transneph .jn-archive .subnav .jn-transneph a:visited,
.categories .jn-categories a:link,
.categories .jn-categories a:visited,
#categories .jn-categories a:link,
#categories .jn-categories a:visited,
.podcasts .jn-podcasts a:link, 
.podcasts .jn-podcasts a:visited,
/*.podarchive .jn-podarchive .subnav .jn-podarchive a:link,
.podhelp .jn-podhelp .subnav .jn-podhelp a:visited,
.podarchive .jn-podarchive .subnav .jn-podarchive a:link,
.podhelp .jn-podhelp .subnav .jn-podhelp a:visited,*/
.focus .jn-focus a:link,
.focus .jn-focus a:visited,
.press-releases .jn-press-releases a:link,
.press-releases .jn-press-releases a:visited,
.for-authors .jn-for-authors a:link,
.for-authors .jn-for-authors a:visited,
.for-referees .jn-for-referees a:link,
.for-referees .jn-for-referees a:visited,
.contact-eds .jn-contact-eds a:link,
.contact-eds .jn-contact-eds a:visited,
.about-the-journal .jn-about-the-journal a:link,
.about-the-journal .jn-about-the-journal a:visited,
.about-the-society .jn-about-the-society a:link,
.about-the-society .jn-about-the-society a:visited,
.subscribe .jn-subscribe a:link,
.subscribe .jn-subscribe a:visited,
.advertising .jn-advertising a:link,
.advertising .jn-advertising a:visited,
.supplements .jn-supplements a:link,
.supplements .jn-supplements a:visited,
.contact-npg .jn-contact-npg a:link,
.contact-npg .jn-contact-npg a:visited,
.site-features .jn-site-features a:link,
.site-features .jn-site-features a:visited
{color: #fff;}

.aop .jn-aop .subnav a {color: #000;}

/* subnav background image */
/* this is required as the background-color above overrides the background: url in the main.css */
.abc .jn-archive .subnav .jn-abc a:link,
.abc .jn-archive .subnav .jn-abc a:visited,
.transneph .jn-archive .subnav .jn-transneph a:link,
.transneph .jn-archive .subnav .jn-transneph a:visited,
.about-aop .jn-aop .subnav .jn-about-aop a:link,
.about-aop .jn-aop .subnav .jn-about-aop a:visited
/*.podhelp .jn-podhelp .subnav .jn-podhelp a:visited,
.podarchive .jn-podarchive .subnav .jn-podarchive a:link,
.podhelp .jn-podhelp .subnav .jn-podhelp a:visited*/
{background: url(/common/images/nav_dots1.gif) 11px 5px no-repeat;}

/* end subnav background image */
/* end leftnav highlighting */


/*                      -------------------------                    */
/*                      add new styles below here                    */
/*                      -------------------------                    */


/* following styles are for society nav bar which does not include npg logo and and therefore padding left is changed from 34px to 0  */
#accessibility-bar {padding-left: 0;}
* HTML #npg-nav {padding-left: 0 !important;}
#npg-nav {padding-left: 0;}
#npglogo {visibility: hidden;}
/* end society nav bar styles */

/* the following styles should remain in this stylesheet */
/* issue TOCs have some optional headings, aOP TOCs have fixed, unvarying headings */
#toc #content h4.subject, #aop #content h4.subject {
	font-weight: bold;
	font-size: 70%;
	color: #008Da8;
	text-transform: uppercase;
	margin: 1em 0 -1em 0;
}

/* KI article headings should be forced to UPPERCaSE 
#article #content h3, #article #extranav #articlenav .page {text-transform: uppercase; }*/

/* KI TOC h4.artsubhead should have margin-top 1em */
#toc #content-journalnav #content h4.artsubhead, #aop #content h4.artsubhead {
	font-weight: bold;
	font-size: 70%;
	color: #008Da8;
	text-transform: uppercase;
	margin: 1em 0 1em 0;
}

/* KI homepage split page styles */

/* featureboxes */
#home #content .container {float: left;}
#home #content .featurebox {margin: 10px 0 20px 0;}
#home #content .featurebox .padder {padding: 5px;}
#home #content .featurebox .padder .heading {margin-top: -5px;}/* when heading contains no image */
#home #content .featurebox.colour {background-color: #f0f0f4;}

#home #content div.left {
	float: left;
	width: 48%;
}

#home #content div.right {
	float: right;
	width: 48%;
}

#home #content .featurebox h3 {
	font-size: 90%;
	text-transform: uppercase;
	background: #008da8;
	color: #fff;
	padding: 3px 5px;
	margin: 0;
	border-bottom: 1px solid #fff;
}
#home #content .featurebox h3 a {
	color: #fff;
	text-decoration: none;
}
#home #content .featurebox h3 span {
	display: block;
	font-weight: normal;
}

/* header styles */
#home #content .featurebox .atl-or-category {
	font-size: 90%;
	margin: 0;
	border-top: 5px solid #fff;/* border used instead of margin to fix Gecko bug */
}
#home #content .featurebox.colour .atl-or-category {border-color: #f0f0f4;}

#home #content .featurebox .homesubject {
	font-size: 90%;
	margin: 0;
	border-top: 5px solid #fff;/* border used instead of margin to fix Gecko bug */
}
* html #home #content .featurebox .homesubject {margin: 0;}/* IE doesn't like negative margin */
#home #content .featurebox.colour .homesubject {border-color: #f0f0f4;}

#home #content .featurebox .seealso {
	font-size: 90%;
	display: inline;
	color: #000;
}
/* end header styles */


#home #content .featurebox div.heading-image {
	padding-left: 71px;
	min-height: 24px;
	margin: 5px;
	margin-left: 0;
}

#home #content .featurebox p.norm {
	margin: 0;
	font-size: 90%;
}

#home #content .featurebox a.arrow {
	font-size: 90%;
	font-weight: bold;
	margin-top: 5px;
}
#home #content .featurebox div.see-also a {
	font-size: 90%;
	font-weight: bold;
}
#home #content div.aop {background-color: #dae6ff}
/* end featurebox styles */

/* 2 column positioning added 201006 by PaP for addresses on KI advertising page - previously done by tables */
#info #content ul.addresses-in-cols {list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-bottom:  -20px;
}

#info #content ul.addresses-in-cols li {
	height: 2ex;/* for mac ie (doesn't understand min-height) */
	/*\*/height: auto;/**/
	min-height: 3ex;
	float: left;
	width: 49.5%;
	margin: 0;
	padding: 0;
	padding-bottom:  20px;
}
/* end 2 column addresses list */

/* list styles added for article PAP 11/2/08 */
#article #content ul {font-size: 90%;
}

/* styles added by PAP 26/02/09 for article type archive by Xbuilder pages */

#archive-v1 #content h2 {
	background-color:#008Da8;	
	color:#FFFFFF;
	font-size:100%;
	font-weight:bold;
	margin:0;
	padding:3px 0 3px 10px;
}

#archive-v1 #content ul.subject-category li h3 {
	float:left;
	font-size:90%;
	margin:0;
	width:30%;
}

#archive-v1 #content ul.subject-category li ul {
	width:55%;
}

#archive-v1 #content ul.subject-category li ul.year li {
	border-right:1px solid #E7E7E7;
	float:left;
	margin:0;
	padding:0 5px 0 7px;
	background:none;
}

#archive-v1 #content ul.subject-category li ul.year li a:link, #archive-v1 #content ul.subject-category li ul.year li a:visited {
	font-size:90%;
}
#archive-v1 #content h1.page-header {font-weight:bold}

#toc-001 #content div.container div {
 	padding: 0.5em 0 1.5em 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #eaeaea;
}

#toc-001 #content p.aug {margin:0}

#toc-001 #content p.journal {
	font-size:70%;
	margin: 0.2em 0 0.2em 0;
} 

#toc-001 #content p.links {
	font-size:70%;
	margin: 0;
}

#toc-001 #content .changedisplay h2 {
	background-color:#008Da8;
	color:#fff;
}

#toc-001 #content .category-title {
	font-weight:bold;
}

/* end styles added by PAP */


/* the following styles were added for podcast page 08/05/07 */ 
/*
#info #content div.pod-welcome {
	padding: 10px;	
	background: #eaeaea;
}

#info #content div.pod-welcome p {
	margin: 0;
	font-size: 90%;
}

#info #content div.pod-welcome h2 {
	margin: 0;
	background: #eaeaea;
	color: #000;
	font-size:  90%;
	padding:  0;
}

#info #content h4.podcast {
	font-weight:  normal;
	margin-top:  20px;
	margin-bottom:  10px;
}

#currentShow {
	padding:  0;
	height:  100px;
	margin:  20px 0;
	font-size: 80%;
	background:  left no-repeat;
	}

#currentShowPic {
	float:  left;
	margin:  4px 15px 4px 0;
	border:  0;
	}

#info #content div.left {
	float: left;
	width: 48%;	
}

#info #content div.right {
	float: right;
	width: 48%;
}

.archivewelcome {
	font-size:  90%;
}

.podcast {
	font-size:  90%;
}

#content h3.podcast {
	font-size:  80%;
	font-weight:  bold;
	margin:  3em 0 1em 0;
	color:  #000;
	}

/*	padding-left: 15px;
	background: url(/common/images/archive_plus.gif) left center no-repeat;
	font-weight:  bold;
	margin:  3em 0 1em 0;
	color:  #0054a6;
	text-decoration:  none;
	}
	
#content h3.podcastarchive a:hover {
	color:  #f00;
	background: url(/common/images/archive_plus_red.gif) left center no-repeat;
	}
	
#content h3.podcastarchiveOpen a:link, #content h3.podcastarchiveOpen a:visited {
	padding-left: 15px;
	background: url(/common/images/archive_minus.gif) left center no-repeat;
	font-weight:  bold;
	margin:  3em 0 1em 0;
	color:  #0054a6;
	text-decoration:  none;
	}
	
#content h3.podcastarchiveOpen a:hover {
	color:  #f00;
	background: url(/common/images/archive_minus_red.gif) left center no-repeat;
	}
	

#content ul.podcastarchive {
	font-size:  80%;
	margin:  0;
	margin-bottom:  30px;
	padding:  0;
	}

#content li.podcastarchive {
	padding:  0 0 0 35px;
	margin:  0;
	margin-bottom:  20px;
	background:  top left no-repeat;
	list-style-type:  none;
	}

#content h3 {
	font-size: 90%;
	font-weight: bold;
	color: #db1a21;
	padding: 3px 0 3px 0;
	margin: 0 0 1em 0;
}*/
/* end podcast page styles */


/* styles for KDIGO v76 s113 */

.recommendation {
	margin: 12px 0;
	padding: 0 !important;
}

dl.recommendation { margin: 0; }

.recommendation dt {
	clear: left;
	float: left;
	font-weight: bold;
	margin: 0 0 2px;
	width: 10%;
}

.recommendation dd {
	float: left;
	margin: 0 0 2px;
	width: 89%;
	font-weight: bold;
}

.recommendation ul { font-size: 100% !important; }

.reference-list {
	margin: 12px 0;
	padding: 0 !important;
}

dl.reference-list { margin: 0; }

.reference-list dt {
	clear: left;
	float: left;
	font-weight: normal;
	margin: 0 0 6px;
	width: 6%;
	text-align: right;
	padding-right: 10px;
}

.reference-list dd {
	float: left;
	text-align: left;
	margin: 0 0 6px;
	width: 89%;
}

.reference-list ul { font-size: 100% !important; }

#article #content .atl {
	font-size: 130%;
	font-weight: normal;
}



/* for access pages */
body#access .toolsmenu .title {
	background: #008da8;
}


/* fix for unicode character entities in headings which are converting them to upper case */

#article #content h3 .mb, #article #extranav #articlenav .page .mb {
	text-transform: none !important;
}



/* ----------------------------------------------------------------- */
/* Digital Editions */
/* ----------------------------------------------------------------- */

.digital #content {
	width: 100%;
}

#archive.digital #content h2{
	margin-top: 20px;
}



#archive #content ul.dig-editions {
	background: none;
	padding: 0;
	margin: 10px 0;
	list-style-type: none;
	list-style-image: none;
	
}

#archive #content ul.dig-editions li {
	background: #F7F7F7;
	list-style-image: none;
	float: left;
	width: 177px;
	margin: 0 5px 5px 0;
	padding: 15px 0;
	text-align: center;
	min-height: 293px;
}

#archive #content ul.dig-editions li div.contain {
	width: 150px;
	margin: 0 auto;
}

#archive #content ul.dig-editions li div.contain * {
	text-align: left;
	
}

#archive #content ul.dig-editions li.right {
	margin: 0 0 5px 0;
}

#archive #content ul.dig-editions li.flash {
	width: 357px;
	margin: 10px 0 0 0;
	background: #ffffff;
	border: 1px solid #E0E0E0;
	text-align: left;
	min-height: 1px;
	
}

#archive #content ul.dig-editions li.flash div.contain {
	margin: 0 20px;
	width: auto;
}

#archive #content ul.dig-editions li.flash h3 {
	border-bottom: 1px solid #ddd;
	font-size: 100%;
	
}

#archive #content ul.dig-editions li.flash p {
	font-size: 80%;
}

#archive #content ul.dig-editions li.flash a {
	background: url(/ki/digital/images/icon_flash_large.gif) left center no-repeat;
	padding: 5px 0 7px 38px !important;
	line-height: 31px;
	font-size: 80%;
	font-weight: bold;
}

#archive #content ul.dig-editions h3 {
	font-size: 80%;
	border: 0;
	color: #006699;
 	
}

#archive #content ul.dig-editions ul.links {
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-position: outside;
	background: 0;
	
}

#archive #content ul.dig-editions ul.links li {
	width: auto;
	float: none;
	margin: 5px 0;
	padding: 0;
	min-height: 1px;
}

#archive #content ul.dig-editions ul.links li.dig a {
	background: url(/ki/digital/images/icon_flash.gif) left center no-repeat;
	padding: 2px 0 2px 20px !important;
}

#archive #content ul.dig-editions ul.links li.pdf a {
	background: url(/ki/digital/images/icon_pdf.gif) left center no-repeat;
	padding: 2px 0 2px 20px !important;
}

#archive #content ol.list li {
	list-style-type: decimal;
	list-style-image: none;
	font-size: 90%;
}

#archive #content ol.list p {
	margin: 10px 0px 10px -22px;
}

#archive #content h1.instructions{
	font-size: 120%;
}

#archive #content h3{
	font-size: 100%;
	border: 0;
	color: #006699;
}

.isn-box {
	border: 1px solid #e0e0e0;
	padding: 10px;
	margin: 0 0 20px 0;
	text-align: center;
	font-size: 80%;
	background: #F7F7F7;
	
}

.isn-box img {
	border: 0;
	margin: 0 0 10px 0;
}


/* styles for Supplements, added 10 Nov 2011 by PL */

.sup-title {
	background-color: #008Da8;
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 90%;
	padding: 3px 0 3px 10px;
}

.sup-box {
	background: none repeat scroll 0 0 #FDFDFD;
	border: 1px solid #E7E7E7;
	border-top: 0 none;
	padding: 4px 14px 14px 14px !important;
	margin: 0 0 20px;
}

.sup-box p {
	font-size: 90%;
	margin: 0;
	padding-top: 10px !important;
}
